.HomePage {
  text-align: left;
}

.card {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 10px;
  &__image {
    height: 300px;
    object-fit: contain;
  }
}
.PageFooter {
  padding: 12px 0;
  text-align: right;
}
